* {
    box-sizing: border-box;
    font-family: Arial;
}
nav {
    margin: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: #000;
}
nav a:hover {
    text-decoration: underline;
}
#login {
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #00f;
}
#login:hover {
    text-decoration: none;
    background-color: #0101c9;
    box-shadow: 0px 1px 3px #777;
}
#dialpad {
    padding: 15px;
    border-radius: 50%;
}
#dialpad:hover {
    background-color: #EEE;
}
section {
    text-align: center;
}
form {
    margin: 30px;
}
label {
    border: 1px solid #BBB;
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 600px;
    margin: auto;
    max-width: 100%;
}
label:hover {
    box-shadow: 0 0 3px #AAA;
    border: none;
}
#search {
    border: none;
    width: 80%;
}
label img {
    margin-left: 5px;
}
#buttons-bottom-search {
    display: flex;
    justify-content: center;
    gap: 15px;
}
#buttons-bottom-search a {
    text-decoration: none;
    color: #000;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 3px;
}
#buttons-bottom-search a:hover {
    box-shadow: 0 1px 3px #BBB;
    border: 1px solid #CCC;
}
footer {
    background-color: #EEE;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#footer-text-1 {
    margin-left: 30px;
    border-bottom: 1px solid #AAA;
    padding-bottom: 20px;
}
#footer-menu {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
#footer-menu-1,
#footer-menu-2 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
footer a {
    color: #777;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}